/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
.span-for-icon {
    position: relative;
    padding: 0.25rem;
    border-radius: 3px;
    margin: 2px;
    float: right;
    cursor: pointer;
}
